$navy: #3d4856;
$red: #ed1c24;
$green: #68ebb9;
$blue: #387388;
$dark: #313842;
$light: #dce4f1;
$black: #0c0e11;

.meme {
  max-width: 50rem;
  margin: 0 auto;
  background-color: $dark;
  box-shadow: 1px 1px 30px $black;
  margin-left: 40vw;
  .meme-title {
    padding-top: 20px;
    background-color: $dark;
    color: $light;
    font-size: 2.2rem;
  }
  .meme-img img {
    max-width: 30rem;
    width: 100%;
    padding: 2px;
  }
  .meme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    .meme-vote {
      display: flex;
      background-color: $dark;
      width: 10rem;
      padding: 10px 0;
      p {
        background-color: $dark;
        font-size: 2rem;
        font-weight: 800;
        margin: 0 auto;
        padding-top: 0.5rem;
      }
      .meme-vote__down {
        color: $red;
      }
      .meme-vote__up {
        color: $green;
      }
      .btn {
        width: 70px;
        height: 64px;
        font-size: 1.2rem;
        background-color: $dark;
        border: solid 1px $black;
        border-radius: 5px;
        cursor: pointer;
        .icon {
          width: 50px;
          height: 50px;
          background-color: transparent;
        }
        .meme-vote__icon-down {
          color: $black;
          &:hover {
            color: $red;
            transition-duration: 0.5s;
          }
        }
        .meme-vote__icon-up {
          color: $black;
          &:hover {
            color: $green;
            transition-duration: 0.5s;
          }
        }
      }
    }
  }
  .meme-sum {
    border-top: solid 1px $blue;
    background-color: $dark;
    padding: 10px 0;
    margin: 10px 0;
    p {
      font-size: 1.5em;
      font-weight: 800;
      background-color: $dark;
    }
  }
}
