.nav {
    background-color: #313842;
    position: fixed;
    height: 100%;
    width: 25vw;
    box-shadow: 1px 1px 30px #000000;
    font-size: 2vw;
  }
  
  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
  }
  
  .nav ul li {
    font-size: 20px;
    border: solid 1px #94ADCF;
    border-right: solid 10px #94ADCF;
    margin: 10px 0;
  }
  
  .nav-link {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    background-color: #94ADCF;
  }

  .nav-title {
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
  }
  
  .nav-title p:first-child {
    color: #94ADCF;
    margin: 0;
    font-weight: 800;
    font-size: 3em;
  }
  .nav-title p:last-child {
    text-decoration: underline;
    font-size: 1.9em;
    margin: 0;
  }